@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0;
    color: #eeeeee;
    background-color: #0C4A6E;
    text-align: center;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    margin-bottom: 15px;
    text-shadow: 1px 1px 3px #111111;
}

button {
    background-color: transparent;
    border: 1.5px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    padding: 8px;
    margin: 4px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scorebox {
    font-family: 'Cursed Timer ULiL', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F94F6D;
    background-color: #080001;
    border-radius: 5px;
    font-size: 50pt;
    height: 117px;
    width: 120px;
    box-shadow: 1px 1px 3px #111111;
}

.b-box {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

